

  .event-card-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  img{
    width: 10em;
    margin: auto;
  }

  mat-card-subtitle{
    max-width: fit-content;
  }

  p{
    font-size: 0.6em;
  }

  button, a{
    font-size: 0.7em;
  }