<p>registro-usuarios-anonimo works!</p>
<div class="container">
    <h1>Registrar una nueva cuenta</h1>
    <form ><!--(ngSubmit)="onSubmit()"-->
        <div class="form-group">
            <label for="DNI">DNI:</label>
            <input type="text" class="form-control" name="DNI" id="DNI">
        </div>
        <div class="form-group">
            <label for="Nombre">Nombre:</label>
            <input type="text" class="form-control" name="Nombre" id="Nombre">
        </div>
        <div class="form-group">
            <label for="Apellidos">Apellidos:</label>
            <input type="text" class="form-control" name="Apellidos" id="Apellidos">
        </div>
        <div class="form-group">
            <label for="Email">Correo Electronico:</label>
            <input type="text" class="form-control" name="Email" id="Email">
        </div>
        <div class="form-group">
            <label for="Club">Club de Running</label>
            <input type="text" class="form-control" name="Club" id="Club">
        </div>
        <div class="form-group">
            <label for="Talla">Talla de camiseta</label>
            <select class="form-control" name="Talla" id="Talla"
            required>
                <option *ngFor="let Talla of Tallas" [value]="Talla">{{Talla}}</option>
            </select> 
        </div>
        <div class="form-group">
            <label for="MetodoPago">Método de pago</label>
            <input type="text" class="form-control" name="MetodoPago" id="MetodoPago">
        </div>
        <button>Volver</button>
        <button>Enviar</button>
    </form>
</div>