<div [hidden]="submitted" id="registration"
  class="w-100 h-100 container-fluid d-flex flex-column justify-content-evenly align-items-center">
  <h1>Registrarse en un evento</h1>

  <form (ngSubmit)="onSubmit()" #personForm="ngForm">
    <div class="form-group d-flex">
      <div class="label">
        <label class="p-2" for="Nombre">Nombre:</label>
      </div>
      <input type="text" class="form-control mr-auto p-2" name="Nombre" id="Nombre" #name="ngModel" required
        [(ngModel)]="model.name">
    </div>
    <div class="form-group d-flex">
      <div class="label">
        <label class="p-2" for="lastName">Apellidos:</label>
      </div>
      <input type="text" class="form-control mr-auto p-2" name="lastName" id="lastName" #lastName="ngModel" required
        [(ngModel)]="model.lastName">
    </div>
    <div class="form-group d-flex">
      <div class="label">
        <label class="p-2" for="dni">DNI:</label>
      </div>
      <input type="text" class="form-control mr-auto p-2" name="dni" id="dni" #dni="ngModel" required
        [(ngModel)]="model.dni">
      <!--#DNI="ngModel"-->

    </div>
    <div class="form-group d-flex">
      <div class="label">
        <label class="p-2" for="direccion">Dirección:</label>
      </div>
      <input type="text" class="form-control mr-auto p-2" name="direccion" id="direccion" #direccion="ngModel"
        [(ngModel)]="model.direccion">
    </div>
    <div class="form-group d-flex">
      <div class="label">
        <label class="p-2" for="runningClub">Club de Running:</label>
      </div>
      <input type="text" class="form-control mr-auto p-2" name="runningClub" id="runningClub" #runningClub="ngModel"
        [(ngModel)]="model.runningClub">
    </div>
    <div class="form-group d-flex">
      <div class="label">
        <label class="p-2" for="size">Talla de camiseta:</label>
      </div>
      <select class="form-control mr-auto p-2" name="size" id="size" required #size="ngModel" required
        [(ngModel)]="model.size">
        <option *ngFor="let Talla of Tallas" [value]="Talla">{{Talla}}</option>
      </select>
    </div>
    <div class="form-group d-flex">
      <div class="label">
        <label class="p-2" for="MetodoPago">Método de pago:</label>
      </div>
      <select class="form-control mr-auto p-2" name="MetodoPago" id="MetodoPago" required #payMode="ngModel"
        [(ngModel)]="model.payMode">
        <option *ngFor="let Metodo of Metodos" [value]="Metodo">{{Metodo}}</option>
      </select>
    </div>
    <div id="botones">
      <p>¿No tienes cuenta? <a href="/register">Registrate aquí</a></p>
      <button type="submit" class="btn btn-success">Cancelar</button>
      <button type="submit" class="btn btn-success"  [disabled]="!personForm.form.valid">Apuntarse</button>
    </div>
  </form>
</div>