<div class="container">
        <h1>Listado de eventos</h1>
        <mat-button-toggle-group name="fontStyle" id="events_filter" aria-label="Font Style">
            <mat-button-toggle class="w-25">Nombre</mat-button-toggle>
            <mat-button-toggle class="w-25">Comunidad A.</mat-button-toggle>
            <mat-button-toggle class="w-25">Provincia</mat-button-toggle>
            <mat-button-toggle class="w-25">Distancia</mat-button-toggle>
            <mat-button-toggle class="w-25">Estado</mat-button-toggle>
            <mat-button-toggle class="w-25">Fecha</mat-button-toggle>
        </mat-button-toggle-group>
        <div class="events-list row p-3 mb-3">
            <app-event-card [evento]="evento" *ngFor="let evento of eventos" class="event-card m-auto"></app-event-card> 
        </div>

</div>