<div class="container">
    <h1>Bienvenido Nombre</h1>
    <div>
        <h2>Listado de eventos</h2>
        <div class="events-list row p-3 mb-5">

            <mat-card class="event-card mb-5 m-auto">
                <mat-card-header class="mb-2 justify-content-between">
                    <p class="position-absolute">08/10/2023</p>
                    <p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path fill-rule="evenodd"
                                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                        </svg>
                        39/100
                    </p>
                </mat-card-header>
                <img mat-card-image
                    src="https://runedia.mundodeportivo.com/files/201212273/imgs/LogoGorbeiaSuzien-sq.jpg?v=4"
                    alt="Photo of a Shiba Inu">
                <mat-card-content class="mt-3 mx-auto">
                    <mat-card-title>Gorbeia Suzien</mat-card-title>
                    <mat-card-subtitle class="mx-auto">Pais Vasco · Bilbao</mat-card-subtitle>
                    <mat-card-subtitle class="mx-auto">25KM · PENDIENTE</mat-card-subtitle>
                </mat-card-content>
                <mat-card-actions class="m-auto my-2">
                    <button mat-raised-button>APUNTARSE</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="event-card mb-5 m-auto">
                <mat-card-header class="mb-2 justify-content-between">
                    <p class="position-absolute">08/10/2023</p>
                    <p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path fill-rule="evenodd"
                                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                        </svg>
                        39/100
                    </p>
                </mat-card-header>
                <img mat-card-image
                    src="https://runedia.mundodeportivo.com/files/201212273/imgs/LogoGorbeiaSuzien-sq.jpg?v=4"
                    alt="Photo of a Shiba Inu">
                <mat-card-content class="mt-3 mx-auto">
                    <mat-card-title>Gorbeia Suzien</mat-card-title>
                    <mat-card-subtitle class="mx-auto">Pais Vasco · Bilbao</mat-card-subtitle>
                    <mat-card-subtitle class="mx-auto">25KM · PENDIENTE</mat-card-subtitle>
                </mat-card-content>
                <mat-card-actions class="m-auto my-2">
                    <button mat-raised-button>APUNTARSE</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="event-card mb-5 m-auto">
                <mat-card-header class="mb-2 justify-content-between">
                    <p class="position-absolute">08/10/2023</p>
                    <p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path fill-rule="evenodd"
                                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                        </svg>
                        39/100
                    </p>
                </mat-card-header>
                <img mat-card-image
                    src="https://runedia.mundodeportivo.com/files/201212273/imgs/LogoGorbeiaSuzien-sq.jpg?v=4"
                    alt="Photo of a Shiba Inu">
                <mat-card-content class="mt-3 mx-auto">
                    <mat-card-title>Gorbeia Suzien</mat-card-title>
                    <mat-card-subtitle class="mx-auto">Pais Vasco · Bilbao</mat-card-subtitle>
                    <mat-card-subtitle class="mx-auto">25KM · PENDIENTE</mat-card-subtitle>
                </mat-card-content>
                <mat-card-actions class="m-auto my-2">
                    <button mat-raised-button>APUNTARSE</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="event-card mb-5 m-auto">
                <mat-card-header class="mb-2 justify-content-between">
                    <p class="position-absolute">08/10/2023</p>
                    <p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path fill-rule="evenodd"
                                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                        </svg>
                        39/100
                    </p>
                </mat-card-header>
                <img mat-card-image
                    src="https://runedia.mundodeportivo.com/files/201212273/imgs/LogoGorbeiaSuzien-sq.jpg?v=4"
                    alt="Photo of a Shiba Inu">
                <mat-card-content class="mt-3 mx-auto">
                    <mat-card-title>Gorbeia Suzien</mat-card-title>
                    <mat-card-subtitle class="mx-auto">Pais Vasco · Bilbao</mat-card-subtitle>
                    <mat-card-subtitle class="mx-auto">25KM · PENDIENTE</mat-card-subtitle>
                </mat-card-content>
                <mat-card-actions class="m-auto my-2">
                    <button mat-raised-button>APUNTARSE</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="event-card mb-5 m-auto">
                <mat-card-header class="mb-2 justify-content-between">
                    <p class="position-absolute">08/10/2023</p>
                    <p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path fill-rule="evenodd"
                                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                        </svg>
                        39/100
                    </p>
                </mat-card-header>
                <img mat-card-image
                    src="https://runedia.mundodeportivo.com/files/201212273/imgs/LogoGorbeiaSuzien-sq.jpg?v=4"
                    alt="Photo of a Shiba Inu">
                <mat-card-content class="mt-3 mx-auto">
                    <mat-card-title>Gorbeia Suzien</mat-card-title>
                    <mat-card-subtitle class="mx-auto">Pais Vasco · Bilbao</mat-card-subtitle>
                    <mat-card-subtitle class="mx-auto">25KM · PENDIENTE</mat-card-subtitle>
                </mat-card-content>
                <mat-card-actions class="m-auto my-2">
                    <button mat-raised-button>APUNTARSE</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="event-card mb-5 m-auto">
                <mat-card-header class="mb-2 justify-content-between">
                    <p class="position-absolute">08/10/2023</p>
                    <p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path fill-rule="evenodd"
                                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                        </svg>
                        39/100
                    </p>
                </mat-card-header>
                <img mat-card-image
                    src="https://runedia.mundodeportivo.com/files/201212273/imgs/LogoGorbeiaSuzien-sq.jpg?v=4"
                    alt="Photo of a Shiba Inu">
                <mat-card-content class="mt-3 mx-auto">
                    <mat-card-title>Gorbeia Suzien</mat-card-title>
                    <mat-card-subtitle class="mx-auto">Pais Vasco · Bilbao</mat-card-subtitle>
                    <mat-card-subtitle class="mx-auto">25KM · PENDIENTE</mat-card-subtitle>
                </mat-card-content>
                <mat-card-actions class="m-auto my-2">
                    <button mat-raised-button>APUNTARSE</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="event-card mb-5 m-auto">
                <mat-card-header class="mb-2 justify-content-between">
                    <p class="position-absolute">08/10/2023</p>
                    <p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path fill-rule="evenodd"
                                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                        </svg>
                        39/100
                    </p>
                </mat-card-header>
                <img mat-card-image
                    src="https://runedia.mundodeportivo.com/files/201212273/imgs/LogoGorbeiaSuzien-sq.jpg?v=4"
                    alt="Photo of a Shiba Inu">
                <mat-card-content class="mt-3 mx-auto">
                    <mat-card-title>Gorbeia Suzien</mat-card-title>
                    <mat-card-subtitle class="mx-auto">Pais Vasco · Bilbao</mat-card-subtitle>
                    <mat-card-subtitle class="mx-auto">25KM · PENDIENTE</mat-card-subtitle>
                </mat-card-content>
                <mat-card-actions class="m-auto my-2">
                    <button mat-raised-button>APUNTARSE</button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="event-card mb-5 m-auto">
                <mat-card-header class="mb-2 justify-content-between">
                    <p class="position-absolute">08/10/2023</p>
                    <p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                            <path fill-rule="evenodd"
                                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                        </svg>
                        39/100
                    </p>
                </mat-card-header>
                <img mat-card-image
                    src="https://runedia.mundodeportivo.com/files/201212273/imgs/LogoGorbeiaSuzien-sq.jpg?v=4"
                    alt="Photo of a Shiba Inu">
                <mat-card-content class="mt-3 mx-auto">
                    <mat-card-title>Gorbeia Suzien</mat-card-title>
                    <mat-card-subtitle class="mx-auto">Pais Vasco · Bilbao</mat-card-subtitle>
                    <mat-card-subtitle class="mx-auto">25KM · PENDIENTE</mat-card-subtitle>
                </mat-card-content>
                <mat-card-actions class="m-auto my-2">
                    <button mat-raised-button>APUNTARSE</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>