.container{
  margin-top: -2em;
}

.events-list{
  overflow-y: scroll;
  background-color: #AED581;
  height: 26em;
  max-width: fit-content;
}

#events_filter{
  width: 102%;
  margin-left: -0.8em;
}

.event-card {
  max-width: 18.5em;
  height: 24em;
}