<header>
   
        <div class="container-fluid align-items-center d-flex justify-content-between">
          <div class="container w-25 h-25">
            <img src="../../../assets/images/LOGOpuñeta.png" class="w-25 h-25" alt="Logo de la página"  >
          </div>

          <div class="container d-flex d-flex justify-content-center align-items-center w-50 h-50  " >
            <h1>JUST RUN</h1>
          </div>
          <div class="d-flex justify-content-around w-25 h-25 ">
            <a href="/register" mat-raised-button color="primary">Primary</a>
            <a href="/login" mat-raised-button color="primary">Primary</a>
          </div>
        

        </div>
</header>