<header>
        <div id="main" class="container-fluid align-items-center d-flex justify-content-between">
          <div class="container w-25 h-25">
            <a href=""><img src="../../../assets/images/LOGOpuñeta.png" class="w-25 h-25" alt="Logo de la página"  ></a>
          </div>

          <div class="container d-flex d-flex justify-content-center align-items-center w-50 h-50  " >
            <a id="title" href=""><h1>JUST RUN</h1></a>
          </div>
          <div class="d-flex justify-content-around w-25 h-25 ">
            <a class="w-25" href="/register" mat-raised-button color="primary">Registrarse</a>
            <a class="w-25" href="/login" mat-raised-button color="primary">Login</a>
          </div>
        

        </div>
</header>