#registration{
    background-color: #A8ECC5;
    width: 90% !important;
}
.ng-valid[required], .ng-valid.required{
    border-left: 5px solid #42A948;
}
.ng-invalid:not(form){
    border-left: 5px solid #A94442;
}
h1{
    text-align: center;
}
#botones{
    text-align: right;
}
#botones>*{
    margin-left: 5%;
}
#botones>button{
    padding-left: 5%;
    padding-right: 5%;
}
.form-group *{
    display: inline;
}
.form-control{
    width: 74%;
    padding: 4px !important;
}
form{
    width: 100%;
    overflow: hidden;
}
form>*{
    margin-bottom: 1%;
}
.label{
    width: 26%;
    align-self: center;
    justify-self: center;
    text-align: center;
}
label{
    font-weight: bold;
    padding-right: 10%;
    padding-left: 10%;
}