<div [hidden]="submitted" id="registration"
  class="w-100 h-100 container-fluid d-flex flex-column justify-content-evenly align-items-center">
  <h1>Registrar una nueva cuenta</h1>

  <form (ngSubmit)="onSubmit()" #personForm="ngForm">
    <div class="form-group d-flex">
      <div class="label">
        <label class="p-2" for="firstName">Nombre:</label>
      </div>
      <input type="text" class="form-control mr-auto p-2" name="name" id="name" #name="ngModel" required
        [(ngModel)]="model.name" pattern="([A-Z]|Ñ)([a-z]|ñ)*( ([A-Z]|Ñ)([a-z]|ñ)*)+">
    </div>
    <div class="form-group d-flex">
      <div class="label">
        <label class="p-2" for="dni">DNI:</label>
      </div>
      <input type="text" class="form-control mr-auto p-2" name="dni" id="dni" #dni="ngModel" required
        [(ngModel)]="model.dni" pattern="[XYZ]|\d\d{7}[TRWAGMYFPDXBNJZSQVHLCKE]">
    </div>
    <div class="form-group d-flex">
      <div class="label">
        <label class="p-2" for="email">Email:</label>
      </div>
      <input type="email" class="form-control mr-auto p-2" name="email" id="email" #email="ngModel" required
        [(ngModel)]="model.email">
    </div>
    <div class="form-group d-flex">
      <div class="label">
        <label class="p-2" for="running-club">Contraseña:</label>
      </div>
      <input type="password" class="form-control mr-auto p-2" name="password" id="password" #password="ngModel" required
        [(ngModel)]="model.password">
    </div>
    <div class="form-group d-flex">
      <div class="label">
        <label class="p-2" for="running-club">Repetir contraseña:</label>
      </div>
      <input type="password" class="form-control mr-auto p-2" name="confirmPassword" id="confirmPassword"
        #confirmPassword="ngModel" required [(ngModel)]="model.confirmPassword">
    </div>
    <div class="form-group d-flex">
      <div class="label">
        <label class="p-2" for="running-club">Club de Running:</label>
      </div>
      <input type="text" class="form-control mr-auto p-2" name="running-club" id="running-club" #runningClub="ngModel"
        [(ngModel)]="model.runningClub" pattern="((([A-Z]|Ñ)([a-z]|ñ)*) ?)+">
    </div>
    <div class="form-group d-flex">
      <div class="label">
        <label class="p-2" for="size">Talla de Camiseta:</label>
      </div>
      <select class="form-control mr-auto p-2" name="size" id="size" #size="ngModel" required [(ngModel)]="model.size">
        <option *ngFor="let size of sizes" [value]="size">{{size}}</option>
      </select>
    </div>
    <div class="form-group d-flex">
      <div class="label">
        <label class="p-2" for="MetodoPago">Método de pago:</label>
      </div>
      <select class="form-control mr-auto p-2" name="MetodoPago" id="MetodoPago" #payMode="ngModel" required
        [(ngModel)]="model.payMode">
        <option *ngFor="let Metodo of Metodos" [value]="Metodo">{{Metodo}}</option>
      </select>
    </div>
    <div id="botones">
      <button type="submit" class="btn btn-success">Volver</button>
      <button type="submit" class="btn btn-success" [disabled]="!personForm.form.valid">Crear</button>
    </div>
  </form>
</div>
